
body {
    background-color: slategrey;
}


#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: slategrey;
    height: 100px;
    width: 100vw;
    text-align: right;
}

.nav-link {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: slategrey;
}

#developer-img {
    width: 200px;
    height: auto;
    border-radius: 100%;
}

#projects {
    height: 690px;
    width: 100%;
    margin: auto;
}

.project-tile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 30px;
    width: 300px;
    height: 330px;
    margin-top: 10px;
}

.tile-img {
    width: 300px;
    height: 300px;
}

.tile-text {
    text-align: center;
    background-color: slategrey;
    font-weight: bolder;
    color: white;
}

#project-header {
    text-align: center; 
    color:white;
}

a {
    text-decoration: none;
    color: black;
}

#projects {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
}

#project-div{
   text-align: center;
   display: grid;

}

#project-div span{
    width: 150px;
    height: 50px;
    justify-self: center;
    background-color: slategrey;
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #contacts, #my-contacts span {
     color: white;
 }

 #my-contacts {
     display: flex;
     align-items: center;
     width: 60%;
     margin: auto;
 }

 .cont {
    flex-wrap: wrap;
    flex-basis: 20%;
 }

 .material-icons, .fa { color: rgba(255, 255, 255, 1); }

 #footer {
     text-align: center;
     color: white;
     background-color: cadetblue;
     height: 80px;
     width: 100%;
     margin: auto;
 }

@media only screen and (max-width: 1200px){

    #projects {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-items: center;
    }

    #projects {
        height: auto;
    }

    #my-contacts {
        width: 80%;
        flex-direction: row;
        
     }
     .cont {
        flex-wrap: wrap;
        margin: auto;
     }

}



@media (max-width: 800px){

    #projects {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
    }

    #projects {
        height: auto;
    }

    #project-header {
        font-size: 24px;
    }

    #my-contacts {
        width: 50%;
        flex-direction: column;
    }

     .cont {
         width: 50%;
         margin-top: 20px;
     }

}